
/*Когда ничего не делаем*/
a{
    color: yellow;
}

/*Когда навели на ссылку*/
a:hover{
    color: red;
    animation: blinker 1s linear infinite;
}

/*когда нажали на ссылку*/
a:active{
    color: green;
}
/*Когда посетили ссылку*/
a:visited{
    color: purple;
}

@keyframes blinker {
  50% { opacity: 0; }
}
